body {
  background-color: peachpuff;
  font-family: "Gill Sans";
  color: darkblue;
}

h1 {
  text-align: center;
  font-size: 48px;
}

img {
  border-radius: 15px;
}

ul {
  border-width: 1px;
  border-color: black;
  border-style: dashed;
}

li {
  list-style-type: square;
}
